
:root {
  --pan-color: #090;

  --liv-left-width: 100vw;
  --liv-left-left: calc(var(--liv-left-width) * -1);
  --liv-left-background-color: none;
  --liv-left-background-image: url(../images/left-background.png);
  --liv-left-top-height: 300px;
  --liv-left-bottom-height: 70px;
  --liv-left-middle-border: 1px solid rgba(255, 255, 255, .3);
  --liv-left-close-btn-display: block;

  --liv-right-left: 0px;
  --liv-right-right: 0px;

  --liv-header-height: 50px;
  --liv-footer-height: 30px;

  --pan-menutoggle-display: block;
  --pan-overlay-display: none;
}


@media (min-width: pan-device(sm)) {
  :root {
    --liv-left-width: 340px;
    --liv-left-close-btn-display: none;
  }
}


@media (min-width: pan-device(md)) {
  :root {
    --liv-left-left: 0px;

    --liv-right-left: var(--liv-left-width);

    --pan-menutoggle-display: none;
  }
}

