<section id="main">
  <div class="content-first-page">
    <!-- begin page home classic / in "/_config.yml" / -->
    {% if site.menu %}
      {% for menu in site.menu %}
            <div class="item-first-page">
              <a href="{{ menu.link | relative_url }}">
                <h2 class="text-item-first-page">{{ menu.text }}</h2>
              </a>
            </div>
      {% endfor %}
    {% endif %}

    <!-- end page home classic -->
    
    <!-- loop on books / See in "/_books/" all "book_nb" unless they exist or not in "/_data/my_books.yml" -->
    {%- assign _menu_books = site.books | sort: "book_nb" -%}
    {%- assign _prec_nb = "" -%}
    {%- for _book in _menu_books -%}
      {%- unless _book.book_nb == _prec_nb -%}
          {%- include snippets/find_datas_books.md _book_nb=_book.book_nb _data="book_title" -%}
          <div class="item-first-page">
            <a href="/index_book.html#{{ __return | escape }}">
              <h2 class="text-item-first-page">{{ __return }}</h2>
            </a>
          </div>
        {%- assign _prec_nb = _book.book_nb -%}
      {%- endunless -%}
    {%- endfor -%}
  </div>
</section>

