html{
}

body{
    min-height:100vh;
    margin:0;
    padding: 0;
    background-image: url('/assets/images/background-first-page.jpg');
    background-size: 100% 100%;
    background-attachment:fixed;
}

#main{
    width:100%; 
    height:100%;
}
div.content-first-page{
    border: 2px solid #000000;
    min-height: 100vh;
    margin: 2em;
    padding: 2em;
}

div.item-first-page{
    border: 2px solid #000000;
    position: absolute;
 /*
    top: 40px;
    left: 40px;
 */
    margin: 2em;
    padding: 2em;
    float:left; 
    width: 15vw;
}
div.img-item-first-page{
    background-image:url('/assets/images/nuageA.png');
    background-size: 100% 100%; 
    padding: 2em;
}

h2.text-item-first-page{
    position: center center;
    text-align: center;
    min-width: fit-content;
}

/* test */
.cadre-exemple{
    position:relative;
    border:1px solid #ddd;
    height:150px;
    width:150px;
  }
  #exemple1 .defaut{
    position:absolute; 
    top:0;
    left:0;
    height:150px;
    width:150px;
  }
  #exemple1 #calque1{
    background:green; 
    height:150px;
    width:25px;
    -z-index:1; 
  }
  #exemple1 #calque1-1{
    height:125px;
    width:50px;
    background:#3F0;
    z-index:1; 
    left:30px;
    top:10px;
  }
  #exemple1 #calque1-2{
    height:100px;
    width:75px;
    background:#6FF;
    z-index:4; 
    left:40px;
    top:20px;
  }
  #exemple1 #calque2{
    background:red; 
    height:75px;
    width:100px;
    -z-index:2;  
    left:10px;
    top:10px;
  }
  #exemple1 #calque2-1{
    background:#F60;
    z-index:2;
    height:50px;
    width:125px; 
    left:20px;
    top:30px;
  }
  #exemple1 #calque2-2{
    background:#F90;
    z-index:3;
    height:25px;
    width:100px; 
    left:10px;
    top:40px;
  }