html{
}

body{
    min-height:100vh;
    margin:0;
    padding: 0;
    background-image: url('/assets/images/background-first-page.jpg');
    background-size: 100% 100%;
    background-attachment:fixed;
}

#main{
    width:100%; 
    height:100%;
}
div.content-first-page{
    min-height: 100vh;
}

div.item-first-page{
    position: absolute;
    margin: 1em;
    padding: 1em;
    float: left; 
    width: 15vw;
    min-width: fit-content;
}
div.img-item-first-page{
    background-image:url('/assets/images/nuageA.png');
    background-size: 100% 100%; 
    padding: 1em;
    min-width: fit-content;
}

h2.text-item-first-page{
    position: center center;
    text-align: center;
    min-width: fit-content;
}
