
.liv-tocbooks{
    color: #000;
}

.liv-tocbooks-books {
}

.liv-tocbooks-book {
}

.liv-tocbooks-book-img{
    float: left;
    width: 64px;
}

.liv-tocbooks-book-content {
    position: relative;
    margin-bottom: 4em;
}

.liv-tocbooks-book-title{
    padding-left: 15px;
}

.liv-tocbooks-book-chapter{
}

.liv-tocbooks-book-chapter-img{
    float: left;
    width: 64px;
}

.liv-tocbooks-book-chapter-content{
    position: relative;
}

.liv-tocbooks-book-chapter-title{
    padding-left: 15px;
}

.liv-tocbooks-book-chapter-pages{
}

.liv-tocbooks-book-chapter-page{
}

.liv-tocbooks-book-chapter-page-title{
    padding-left: 15px;
}
