---
layout: default
---

<!--récupérer tous les books dans /data/my_books.yml -->
{%- assign _tmp = site.data.my_books.size | minus: 1 -%}
{% for i in (0.._tmp) %}
    {%- include snippets/find_datas_books.md _book_nb=i _data="book_title" -%}
    <h1 id="{{ __return | escape }}"><br/>{{ site.data.my_books[i].book_number.book_title }}</h1>

    {%- assign _tmp1 = site.data.my_books[i].book_number.chapters.size | minus: 1 -%}
    {% for j in (0.._tmp1) %}
        <h2>--> {{ site.data.my_books[i].book_number.chapters[j] }}</h2>
        {%- include snippets/find_books.md _book_nb=i _chapter_nb=j -%}
        {%- for _book in __return -%}
            <div>--> page:{{_book.page_chapter}} : <a href={{ _book.url }}> {{_book.page_title}}</a></div>
        {%- endfor -%}
    {%- endfor -%}
{%- endfor -%}
<!-- récupérer tous les fichiers des books -->
